body {
  background-image: linear-gradient(120deg, #f6d365 0%, #f4a11b 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
